Here are the dependencies required for the project:

- Flask - `Flask==2.2.2`
- Twilio - `twilio==7.6.0`
- requests - `requests==2.31.0`
- python-doten - `python-dotenv==1.0.0`
- librosa - `librosa==0.10.1`
- torch - `torch==2.1.0`
- transformers - `transformers==4.34.0`

To install the dependencies, use the following command:

```bash
pip install -r requirements.txt